@import 'tailwindcss';

@theme {
  --color-mnine: #F58634;
  --color-mnine-2: #E0680F;

  --font-poppins: "Orbitron Variable", "sans-serif";
  --font-poppins: "Poppins", "sans-serif";
}

html {
  @apply font-poppins;
}

*::selection {
  @apply bg-mnine text-white; 
}

#nprogress {
  pointer-events: none;
}
#nprogress .bar {
  @apply bg-mnine! fixed! z-100! top-0! left-0! w-full! h-[3px]!;
}